<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="font-weight-normal">Company name</h5>
    <form class="form-inline mt-2 mt-md-0 ml-md-auto" >
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
    <nav class="mr-md-3">
      <a class="p-2 text-dark" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="p-2 text-dark" routerLink="doors" routerLinkActive="active">Doors</a>
      <a class="p-2 text-dark" routerLink="hardwares" routerLinkActive="Active">Hardware</a>
      <a class="p-2 text-dark" routerLink="users" routerLinkActive="Active">Users</a>
      <a class="p-2 text-dark" routerLink="contacts" routerLinkActive="Active">Contacts</a>
      <a class="p-2 text-dark" routerLink="server" routerLinkActive="Active">Server</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>