<main role="main">
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Doors</h1>
          </div>
        </section>

        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row" >
              <div class="col-md-4" *ngFor = "let door of doors">
                <div class="card mb-4 shadow-sm">
                  <img [src]="door.imageUrl" class="card-img-top" [alt]="door.name">
                  <div class="card-body">
                    <p class="card-text">
                      {{door.name}}
                    </p>
                    <a [routerLink]="['/doors', door.id]">Details</a>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-outline-primary" (click)='goHardware()'>Go hardware </button>
          </div>
        </div>
      </main>
