<div class="card" *ngIf ="allowEdit">
    <div class="card-header">
      <h4>Edit</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <button type="button" class="btn btn-primary" (click)="changeStatus('Active')">Set to Active</button>
      <button type="button" class="btn btn-danger"  (click)="changeStatus('Inactive')">Set to Inactive</button>
      <button type="button" class="btn btn-danger"  (click)="Delete(server.name)">Delete</button>
    </div>
</div>

<div class="card" *ngIf ="!allowEdit">
    <div class="card-header">
        <h4>Edit</h4>
    </div>
    <div class="card-body">
        <h4>You are not allow to edit this server</h4>
    </div>
</div>
